@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #f3ecec;
  scroll-behavior: smooth;
}

img {
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0%;
  z-index: 5;
  box-shadow: 0.1rem 0.1rem rgba(245, 243, 243, 0.918);
  background: #fff;
}

.header {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 14px 24px;
  align-items: center;
  justify-content: space-between;
}

.header .my-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.header .dead-link {
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-content: flex-end;
}

.nav-links1 {
  display: none;
}

section {
  width: 100%;
  position: relative;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  font-family: 'Poppins', sans-serif;
  background-image: url(images/Header-bg@2x.png);
  background-repeat: no-repeat;
  background-size: calc(100%);
  border-radius: 0% 0% 0% 10%;
  padding-bottom: 50px;
}

header,
.round {
  background-color: white;
}

.round {
  min-width: 375px;
}

.round .piesie {
  padding-top: 241px;
}

section .name {
  font-weight: 700;
  font-size: 40px;
  padding-right: 168px;
  margin-bottom: 0;
}

section .about {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
}

section .social-media {
  margin-top: 12px;
  color: #7f8cff;
  height: 24px;
}

section .social-media-links {
  display: flex;
  margin-top: 10px;
  list-style: none;
  margin-left: -40px;
}

section .icon-right {
  margin-right: 20px;
}

.works {
  background-image: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(150px, auto);
  margin: 50px auto;
}

.works section {
  margin-bottom: 70px;
  border-radius: 20px;
  border: 0.2rem solid #e5e5e5;
  border-color: #e5e5e531;
  padding: 16px;
  background-color: white;
  background-image: none;
  margin-left: 3px;
}

.card-pop button {
  width: 49%;
  height: 44px;
  color: #6070ff;
  background-color: white;
  border-color: #6070ff;
  border-radius: 10px;
  border: 0.1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pop .btn-flex {
  display: flex;
  gap: 2%;
}

.card-pop .btn-flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 9%;
}

.card-pop button a {
  color: #6070ff;
}

.card-pop .section-title {
  margin-top: -10px;
  margin-bottom: -21.44px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.works section .section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
  width: 200px;
}

.works section .cards {
  width: 100%;
  cursor: pointer;
}

.pic-container .cards-pic {
  width: 100%;
  height: 85%;
}

.works section .cards-pic {
  width: 100%;
}

.card-pop .section-about {
  display: flex;
  height: 32px;
  width: 300px;
  margin-top: 4px;
  align-items: center;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.section-about .size {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.works section .section-about {
  display: flex;
  height: 32px;
  width: 300px;
  margin-top: 4px;
  align-items: center;
  gap: 12px;
  font-family: 'Poppins', sans-serif;
}

.works section .section-about .size {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.works section .section-about .dot {
  width: 8px;
}

.works section .section-about .back-end {
  color: #7a869a;
  height: 16px;
}

.works section .section-about .date {
  color: #7a869a;
}

.works section .section-about a {
  color: #344563;
  font-weight: 600;
}

.flex-desktop p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.works section p {
  color: #344563;
  font-weight: 400;
}

.works section ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin-left: -40px;
  gap: 8px;
  height: 24px;
}

.works section ul li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}

.about-myself button {
  width: 120px;
  height: 44px;
  color: #6070ff;
  background-color: white;
  border-color: #6070ff;
  border-radius: 10px;
  border: 0.1rem solid;
  transition: 0.5s;
}

.works section button {
  width: 95px;
  height: 44px;
  color: #6070ff;
  background-color: white;
  border-color: #6070ff;
  border-radius: 10px;
  border: 0.1rem solid;
}

.about-myself button:hover {
  background-color: #6070ff;
  color: white;
}

.about-myself button:active {
  background-color: #2230d2;
  color: white;
}

.works section button:hover {
  background-color: #6070ff;
  color: white;
}

.works section button:active {
  background-color: #2230d2;
  color: white;
}

.about-myself {
  background-color: white;
  min-width: 375px;
  padding-top: 70px;
  background-image: none;
  margin-top: 60px;
  border-radius: 0% 10% 0% 0%;
}

.about-myself h2 {
  width: 100px;
}

.about-myself .languages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: -36px;
}

.about-myself .languages li {
  display: flex;
  gap: 12px;
  padding: 9px 9px 9px 12px;
  list-style: none;
  background-color: #f7f7f9;
  height: 66.72px;
  align-items: center;
}

.about-myself .lang {
  list-style: none;
  margin-left: -33px;
  min-width: 303px;
}

.card-pop .languages .javascript,
.html,
.css {
  border-radius: 8px;
  list-style: none;
}

.about-myself .lang .frameworks,
.skills {
  box-shadow: 0.001rem 0.07rem #dfe1e6;
  font-size: 20px;
  font-weight: 500;
  height: 72px;
}

.about-myself .lang .arrow-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}

.about-myself .lang li .languages .javascript,
.html,
.css {
  border-radius: 8px;
}

.about-myself .lang .arrow-down a img {
  width: 12px;
  height: 8px;
}

.about-myself .lang li .frameworks,
.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-me {
  background-color: #6070ff;
  top: -29px;
  min-width: 375px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 80px 0 0 0;
  height: 760px;
}

.contact-me footer h2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: white;
  align-items: center;
  justify-content: center;
  padding-top: 103px;
}

.contact-me footer p {
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.contact-me footer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 15px 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.contact-form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  min-width: 327px;
  min-height: 170px;
  padding: 15px 16px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.contact-form textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

#contact-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 140px;
  height: 48px;
  transition: 0.5s;
}

#contact-btn:hover {
  background-color: #6070ff;
  color: white;
}

#contact-btn:active {
  background-color: #2230d2;
  color: white;
}

.contact-me .shape {
  display: flex;
  margin: 78px auto;
}

@media (min-width: 768px) {
  .header {
    padding: 0 9.86%;
  }

  .header .nav-right {
    display: none;
  }

  .nav-links {
    display: initial;
  }

  .header .nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
    gap: 30px;
  }

  .header .my-logo:hover {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
  }

  .works .cards button {
    transition: 0.4s linear;
  }

  .header .nav-links ul li a {
    color: #344563;
  }

  .round {
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 24.46%;
  }

  .works {
    display: grid;
    padding-left: 9.86%;
    padding-right: 9.86%;
  }

  .works .cards {
    display: grid;
    max-width: 100%;
    column-gap: 3%;
    grid-template-columns: repeat(2, 1fr);
  }

  .works .cards .cards-pic {
    width: 100%;
    object-fit: contain;
  }

  .works .cards-reverse {
    order: -1;
  }

  .about-myself {
    display: grid;
    max-width: 100%;
    column-gap: 3%;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 9.86%;
    padding-right: 9.86%;
  }

  .contact-me {
    padding: 0 30.27%;
    width: 100%;
    background-image: url(images/contact-form-background-shapes@2x.png);
    background-repeat: no-repeat;
    background-size: calc(100%);
  }

  .contact-me .shape {
    display: none;
  }

  .about-myself .languages {
    display: grid;
    grid-template-columns: repeat(3, 122px);
    grid-template-rows: 120px;
    transform: rotate(360deg);
  }

  .about-myself .lang li .languages {
    height: 122px;
  }

  .about-myself .languages li {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #contact-btn {
    margin: auto;
  }

  .flex-desktop {
    display: flex;
    gap: 1%;
  }

  .card-pop {
    width: 100%;
    height: 85vh;
  }
}

/* @media (max-width: 768px) {
  /* .card-pop .cards-pic {
    width: 100%;
    height: 50%;
  } */

.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(96, 112, 255, 0.8);
  backdrop-filter: blur(4px);
  height: 100vh;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.bg-popup {
  background-color: rgba(193, 199, 208, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  display: none;
  overflow-y: scroll;
}

.popup {
  width: 90%;
}

.bg-popup.visible {
  display: flex;
}

@keyframes growDown {
  0% {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.menu.visible {
  display: block;
}

.menu .menu-li {
  list-style-type: none;
  margin-right: 20%;
  margin-bottom: 40px;
  margin-top: 13%;
}

.menu .nav-link {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.menu .nav-link:hover {
  color: #6070ff;
  background-color: #fff;
  font-size: 34px;
}

.menu .xicon {
  display: flex;
  align-self: flex-end;
  margin-left: 86%;
  margin-top: 7.5%;
}

.card-pop {
  border-radius: 20px;
  border: 0.2rem solid #e5e5e5;
  border-color: #e5e5e531;
  padding: 16px;
  background-color: white;
  background-image: none;
  margin-left: 3px;
  font-family: 'Poppins', sans-serif;
}

.card-pop .pic-container {
  width: 100%;
  height: 60%;
}

.card-pop .flex-popup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  align-items: center;
}

.card-pop .languages {
  display: flex;
  list-style: none;
  gap: 12px;
  margin-left: -36px;
}

.card-pop h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.card-pop .languages li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
}
